/Test/*

*.md5
*.stex
*.dll
.mono/assemblies/Debug/api_hash_cache.cfg

.mono/assemblies/Debug/GodotSharp.pdb

.mono/assemblies/Debug/GodotSharp.xml

.mono/assemblies/Debug/GodotSharpEditor.pdb

.mono/assemblies/Debug/GodotSharpEditor.xml

.mono/metadata/ide_messaging_meta.txt

project.godot

default_env.tres
